:root {
    --swiper-navigation-size : 44px;
    --color-orange: #ff4713;
    --font-SF : 'SF UI Display','Noto Sans KR', sans-serif;
    --font-Noto : 'Noto Sans KR', sans-serif;
}
body,html {
    font-family: var(--font-Noto);
    font-size: 10px;
    color: #212121;
    background-color: #f7f6f3;
    width: 100%;
    overflow-x: hidden;
    line-height: 1.5;
}
/* display:none */
.displayNone {
    display: none !important;
}
.pc {
    display: none !important;
}
.popupOpen {
    height: 100%;
    overflow-y: hidden;
    touch-action: none;
}
.scrollMenu {
    transform: translate(0, -500px);
}
/* 메뉴 나올때 블러처리 부분 */
.bg_blur {
    filter: blur(10px);
}
/* br */
.none {
    display: none;
}


/* 클릭이벤트/ 모바일 메뉴 */
.pos {
    position: relative;
    z-index: 999999999 !important;
    .mo_menu {
        position: fixed;
        top: 0;
        right: -321px;
        width: 320px;
        height: 120vh;
        transition: .3s ease;
        .mo_menu_con {
            position: absolute;
            right: 0;
            width: 320px;
            height: 100%;
            background-color: #fff;
            .closeBtn {
                background: url(../imgs/icon/X@2x.png) no-repeat 50% / cover;
                width: 22px;
                height: 22px;
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
            }
            .flex_menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 90vh;
                margin-top: 70px;
                padding-bottom: 100px;
                overflow-y: scroll;
    
                /* overflow-y: scroll; 모양 숨기기 기능 그대로 */
                -ms-overflow-style: none;
                &::-webkit-scrollbar{
                    display:none;
                }
    
                .menu_list {
                    width: 77%;
                    .menus {
                        margin-top: 20px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            .clickmenu {
                                .menusTitle {
                                    text-transform: uppercase;
                                }
                            }
                        }
                        .clickmenu {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .menusTitle {
                                font-size: 20px;
                                font-weight: 500;
                                margin-top: 5px;
                                color: var(--color-orange);
                            }
                            .menuArrow {
                                background: url(../imgs/icon/arrow-down.png) no-repeat 50% / cover;
                                width: 18px;
                                height: 18px;
                                cursor: pointer;
                            }
                        }
                        /* class active */
                        .clickmenu_active {
                            .menuArrow {
                                background-image: url(../imgs/icon/arrow-up.png);
                            }
                        }
                        .listmenu {
                            display: none;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-top: 25px;
                            margin-bottom: 50px;
                            a {
                                font-size: 12px;
                                padding: 7px;
                                margin-bottom: 7px;
                                color: var(--color-orange);
                                text-decoration: none;
                            }
                            &:nth-child(2) {
                                a {
                                    margin-bottom: 9px;
                                }
                            }
                        }
                        /* class active */
                        .listmenu_active {
                            display: flex;
                        }
                        
                    }
                }
                .sns_list {
                    width: 77%;
                    margin-top: 40px;
                    a {
                        text-decoration: none;
                        color: #333;
                        &:nth-child(2) {
                            margin: 0 10px;
                        }
                        img {
                            max-width: 100%;
                            border: 0;
                            vertical-align: top;
                        }
                    }
                }
                .link_btn {
                    border-radius: 20px;
                    background-color: var(--color-orange);
                    font-size: 15px;
                    font-weight: 500;
                    color: #fff;
                    padding: 10px 26px;
                    margin: 40px 135px 60px 0;
                    border: none;
                    
                }
            }
        }
    }
    /* class active */
    .mo_menu_active {
        right: 0;
    }
}
/* 커서 커스텀 */
.cursor {
    display: block;
    position: absolute;
    z-index: 9999999999999999;
    transform: translate(10%, 10%);
    background: url(../imgs/main/mouse-cursor.png) no-repeat 50%;
    background-size: contain;
    width: 45px;
    height: 45px;
    pointer-events: none;
}
#wrapper {
    position: relative;
    /* 로고와 메뉴 클릭 전 */
    #header {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        transition: 0.5s ease;
        z-index: 99999;
        display: grid;
        display: block;
        .header_inner {
            position: relative;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-content: center;
            background: #fff;
            z-index: 99999;
            .logo, .menu, .link {
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                color: var(--color-orange);
                font-size: 18px;
                font-weight: 500;
            }
            .logo {
                margin: 0 80px;
                a {
                    width: 122px;
                    img {
                        max-width: 100%;
                        border: 0;
                        vertical-align: top;
                    }
                }
            }
            .menu {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                cursor: pointer;
                .menu1 {
                    margin: 0 40px;
                    width: 140px;
                    white-space: nowrap;
                    text-align: left;
                    line-height: 50px;
                    font-weight: 500;
                    flex-shrink: 0;
                    transition: 0.3s ease-in-out;
                    border-radius: 25px;
                }
            }

            .link {
                margin: 0 80px;
                .btn_link {
                    a {
                        padding: 7px 25px;
                        border-radius: 20px;
                        margin-right: 32px;
                        letter-spacing: 0.1px;
                        background-color: var(--color-orange);
                        font-size: 16px;
                        font-weight: 400;
                        font-family: var(--font-Noto);
                        color: #fff;
                        border: 1px solid transparent;
                        transition: 0.2s ease;
                        cursor: pointer;
                        text-decoration: none;
                        outline: 0;
                    }
                }
                .sns_link {
                    a {
                        margin-left: 16px;
                        &:nth-child(2) {
                            margin-left: 13px;
                        }
                        &:last-child {
                            margin-left: 12px;
                        }
                        img {
                            max-width: 100%;
                            border: 0;
                            vertical-align: top;
                        }
                    }
                }
            }
            .burger {
                display: none;
            }
        }
        /* menu 마우스 오버시 위에서 나타나는 메뉴 */
        .menuPcHidden {
            position: fixed;
            top: -480px;
            left: 0;
            width: 100%;
            height: 480px;
            background: #fff;
            z-index: 9;
            overflow: hidden;
            transition: 0.5s ease-in-out;
            .SoMenu_inner {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 80px;
                .SoMenu {
                    display: flex;
                    justify-content: space-between;
                    color: var(--color-orange);
                    font-weight: 400;
                    font-size: 18px;
                    position: absolute;
                    top: 90px;
                    left: 50%;
                    transform: translate(-61%, 0);
                    ul {
                        padding: 0;
                        margin: 0;
                        li {
                            margin: 0 40px;
                            width: 140px;
                            white-space: nowrap;
                            transition: .3s ease-in-out;
                            border-radius: 25px;
                            text-align: left;
                            line-height: 50px;
                            flex-shrink: 0;
                            color: var(--color-orange);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        /* js 클래스 추가 */
        .menuOver {
            top: 0;
        }
        .linkBtnOver {
            background-color: #fff !important;
            color: var(--color-orange) !important;
            border: 1px solid var(--color-orange) !important;
        }
    }
    main {
        position: relative;
        .main1 {
            display: block;
            .main_inner {
                padding-top: 180px;
                padding-bottom: 240px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .title {
                    width: 1400px;
                    display: flex;
                    flex-direction: column;
                    h2 {
                        font-size: 65px;
                        font-weight: 600;
                        color: var(--color-orange);
                        margin-bottom: 60px;
                        text-transform: uppercase;
                    }
                    .menuTitle {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 40px;
                        .titleBox {
                            white-space: nowrap;
                            a {
                                margin: 0 22.5px;
                                opacity: 0.39;
                                font-size: 23px;
                                font-weight: bold;
                                color: var(--color-orange);
                                z-index: 9;
                                padding-top: 5px;
                                font-weight: 600;
                                border-top: 1px solid var(--color-orange);
                            }
                        }
                    }
                }
                .container {
                    width: 1200px;
                    margin-top: 60px;
                    position: relative;
                    .menuList {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: baseline;
                        .lists {
                            width: calc((100% - (58px * 3)) / 4);
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            text-align: center;
                            margin-left: 58px;
                            margin-top: 100px;
                            font-size: 20px;
                            font-weight: 500;
                            color: var(--color-orange);
                            &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                                margin-top: 0;
                            }
                            &:nth-child(4n - 3) {
                                margin-left: 0;
                            }
                            .imgBox {
                                position: relative;
                                width: 224px;
                                height: 224px;
                                border-radius: 50%;
                                background: transparent;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                                transition: 0.45s ease;
                                &:hover {
                                    background: rgba(255, 71, 19, 0.1);
                                }
                                .New {
                                    position: absolute;
                                    top: 5px;
                                    right: 5px;
                                    width: 44px;
                                    height: 44px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background: var(--color-orange);
                                    border-radius: 50%;
                                    font-size: 14px;
                                    font-family: var(--font-SF);
                                    font-weight: normal;
                                    color: #fff;
                                }
                                a {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                        object-fit: contain;
                                        max-width: 224px;
                                        max-height: 224px;
                                    }
                                }
                            }
                            .infoTxt {
                                width: 80%;
                                font-size: 22px;
                                font-weight: 500;
                                text-align: center;
                                color: var(--color-orange);
                                word-break: keep-all;
                                margin-top: 20px;
                            }
                        }
                    }
                }
                .pagination {
                    margin: 0 auto;
                    margin-top: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .btnBg {
                        display: flex;
                        position: absolute;
                        top: 0;
                        .btn {
                            background-color: var(--color-orange);
                            border-radius: 18px;
                            width: 36px;
                            height: 100%;
                            text-align: center;
                            color: #fff;
                            font-size: 12px;
                            font-family: var(--font-SF);
                            font-weight: 400;
                            line-height: 36px;
                            cursor: pointer;
                        }
                        #Bebtn2, #Be2btn1 {
                            background-color: transparent;
                            color: var(--color-orange);
                        }
                    }
                }
            }
        }

        /* footer 부분 개인정보취급방침 클릭시 팝업창 */
        #privacyPopUp {
            .popup_wrap {
                overflow: hidden;
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba(0,0,0,.6);
                z-index: 6000;
                display: flex;
                justify-content: center;
                align-items: center;
                .footer_popup {
                    width: 522px;
                    height: auto;
                    position: relative;
                    background-color: #fff;
                    border-radius: 5px;
                    border: 1px solid #212121;
                    padding: 30px 0;
                    .privacy_closeBtn {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        width: 30px;
                        height: 30px;
                        background: url(../imgs/icon/X@2x.png)no-repeat 50% / cover;
                        cursor: pointer; 
                    }
                    .privacy_title {
                        font-size: 20px;
                        font-weight: 600;
                        text-align: center;
                        color: var(--color-orange);
                    }
                    .privacy_title2 {
                        font-size: 12px;
                        font-weight: 500;
                        text-align: center;
                        color: var(--color-orange);
                        margin-top: 10px;
                    }
                    .privacy_txtbox {
                        padding: 10px;
                        height: 350px;
                        width: 83%;
                        margin: 0 auto;
                        margin-top: 40px;
                        border: 1px solid #fbb19a;
                        border-radius: 5px;
                        word-break: keep-all;
                        font-size: 14px;
                        color: var(--color-orange);
                        line-height: 22px;
                        overflow-y: scroll;
                        &::-webkit-scrollbar {
                            width: 5px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: var(--color-orange);
                            height: 180px;
                            border-radius: 2.5px;
                        }
                        &::-webkit-scrollbar-track {
                            background-color: 0;
                        }
                        h4 {
                            &:first-child {
                                padding-top: 0;
                                margin-top: 0;
                            }
                            font-size: 16px;
                            font-weight: 600;
                            padding-top: 25px;
                        }
                        p {
                            display: block;
                            margin: 15px 0;
                        }
                    }
                }
            }
        }
        /* 클릭시 맨위로 스크롤 부드럽게 이동 */
        .toTop {
            width: 80px;
            position: absolute;
            right: 80px;
            // bottom: -100px;
            bottom: -120px;
            // bottom: 440px;
            z-index: 100;
            text-align: center;
            cursor: pointer;
            .topBtn {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                .circle_totop {
                    width: 50px;
                }
                .arrow_totop {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 30px;
                    height: 30px;
                }
            }
            span {
                font-size: 14px;
                margin-top: 10px;
                font-family: var(--font-SF);
                line-height: 26px;
                letter-spacing: -0.35px;
                color: #fff;
            }
        }
    }
    footer {
        position: relative;
        width: 100%;
        background-color: var(--color-orange);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer_inner {
            color: #fff;
            width: 100%;
            background-color: var(--color-orange);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .footer_logo {
                display: flex;
                justify-content: center;
                margin-top: 80px;
                margin-bottom: 40px;
            }
            .footer_link {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;
                a {
                    margin: 0 36px;
                    &:nth-child(2) {
                        margin: 0 36px;
                    }
                }
            }
            .footer_privacy {
                display: flex;
                justify-content: center;
                font-size: 16px;
                span {
                    margin: 0 20px;
                    color: #fff;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
            .footer_info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
                margin-bottom: 40px;
                .info {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 26px;
                        letter-spacing: 0.35px;
                        margin: 0 10px;
                        word-break: keep-all;
                        text-align: center;
                    }
                    .line {
                        width: 1px;
                        height: 13px;
                        background-color: white;
                        opacity: .2;
                        margin-top: 2px;
                    }
                    &:first-child {
                        width: 100%;                        
                        text-align: left;
                        span {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    &:last-child {
                        span {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        .line {
                            margin-top: 8px;
                        }
                    }
                    .box {
                        display: flex;
                        justify-content: center;
                        align-items: unset;
                    }
                }
            }
            .footer_copy {
                display: flex;
                justify-content: center;
                margin-top: 60px;
                margin-bottom: 65px;
                span {
                    font-size: 12px;
                    font-family: var(--font-SF);
                    line-height: 26px;
                    letter-spacing: 0.5px;
                    font-weight: 300;
                }
            }
        }
    }
}
