@charset "UTF-8";
:root {
  --swiper-navigation-size: 44px;
  --color-orange: #ff4713;
  --font-SF: "SF UI Display","Noto Sans KR", sans-serif;
  --font-Noto: "Noto Sans KR", sans-serif;
  --font-Proxima: "proximanova", "Noto Sans KR", sans-serif;
}

html, body {
  font-family: var(--font-Noto);
  width: 100%;
  font-size: 10px;
  color: #212121;
  background-color: #f7f6f3;
  overflow-x: hidden;
}

.pc {
  display: block !important;
}

.mobile {
  display: none !important;
}

.br {
  display: none !important;
}

#wrapper {
  /* header */
  /* footer */
}
@media (max-width: 1650px) {
  #wrapper #header .header_inner .logo {
    margin: 0 40px;
  }
  #wrapper #header .header_inner .menu .menu1 {
    margin: 0 25px;
  }
  #wrapper #header .header_inner .link {
    margin: 0 40px;
  }
  #wrapper #header .header_inner .link .btn_link a {
    margin-right: 16px;
  }
  #wrapper #header .header_inner .link .sns_link a {
    margin-left: 10px;
  }
  #wrapper #header .header_inner .burger {
    margin: 0 40px;
  }
  #wrapper #header .menuPcHidden .SoMenu_inner .SoMenu ul li {
    margin: 0 25px;
  }
}
@media (max-width: 1300px) {
  #wrapper #header .header_inner .logo, #wrapper #header .header_inner .menu, #wrapper #header .header_inner .link {
    font-size: 16px;
  }
  #wrapper #header .header_inner .menu {
    left: 48.5%;
  }
  #wrapper #header .header_inner .menu .menu1 {
    margin: 0 10px;
    width: 122px;
  }
  #wrapper #header .header_inner .link .btn_link a {
    padding: 7px 16px;
    margin-right: 10px;
    font-size: 15px;
  }
  #wrapper #header .header_inner .link .sns_link a {
    margin-left: 5px;
  }
  #wrapper #header .menuPcHidden .SoMenu_inner .SoMenu {
    font-size: 16px;
    left: 48.5%;
    transform: translate(-64%, 0);
  }
  #wrapper #header .menuPcHidden .SoMenu_inner .SoMenu ul li {
    margin: 0 10px;
    width: 122px;
  }
}
@media (max-width: 1024px) {
  #wrapper #header .header_inner {
    height: 80px;
  }
  #wrapper #header .header_inner .logo a {
    width: 100px;
  }
  #wrapper #header .header_inner .menu {
    display: none !important;
  }
  #wrapper #header .header_inner .link {
    display: none !important;
  }
  #wrapper #header .header_inner .burger {
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 99999;
  }
  #wrapper #header .header_inner .burger .burger_menu {
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 9999999999;
  }
  #wrapper #header .header_inner .burger .burger_menu span {
    width: 30px;
    height: 3px;
    background: var(--color-orange);
  }
  #wrapper #header .menuPcHidden {
    display: none !important;
  }
}
#wrapper main {
  /* main2 */
  /* main3 */
  /* main4 */
  /* main5 */
  /* main6 */
  /* footer 부분 개인정보취급방침 클릭시 팝업창 */
  /* 클릭시 맨위로 스크롤 부드럽게 이동 */
}
@media (max-width: 1700px) {
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner {
    width: 80%;
    margin: 0 auto;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .itemImg .imgbox .box {
    width: 80%;
    margin-left: 20%;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .itemImg .imgbox .box .img {
    margin-top: 190px;
  }
}
@media (max-width: 1600px) {
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .main2_Btn {
    left: 10%;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .main2_Btn h2 {
    font-size: 6rem;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .main2_Btn .btn_list button {
    font-size: 2rem;
    margin-bottom: 1em;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .itemTopping .toppingBox .topping_con .topping {
    width: 100%;
  }
}
@media (max-width: 1400px) {
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .title h3 {
    font-size: 3.2rem;
    margin-bottom: 16px;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .title p {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .itemTopping .toppingBox h4 {
    font-size: 2rem;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .itemTopping .toppingBox .topping_con .topping .toppingImg p {
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  #wrapper main .main2_wrap {
    display: block;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left {
    width: 100%;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .bgImg {
    height: 70vh;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .bgImg .bg {
    height: 100%;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .main2_Btn {
    width: 90%;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .main2_Btn h2 {
    font-size: 6rem;
    text-align: center;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .main2_Btn .btn_list {
    flex-direction: row;
    justify-content: center;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .main2_Btn .btn_list button {
    font-size: 2rem;
    margin-bottom: 1em;
    margin: 0 20px;
    padding: 0;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right {
    width: 100%;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner {
    width: 90%;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .title {
    padding-top: 80px;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .itemImg .imgbox .box {
    width: 100% !important;
    margin-left: 0 !important;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .itemImg .imgbox .box .img {
    height: auto;
    margin-bottom: 80px;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .itemImg .imgbox .box .img .item {
    width: 90%;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_center {
    display: none !important;
  }
}
@media (max-width: 1650px) {
  #wrapper main .main4_wrap .main4_inner .main4count .countBox {
    margin-left: 0;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .title span:first-child {
    font-size: 60px;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine {
    right: -20%;
    width: 470px;
    height: 790px;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine .center_con {
    width: 550px;
    height: 550px;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine .top_con {
    left: 30%;
  }
}
@media (max-width: 1410px) {
  #wrapper main .main4_wrap .main4_inner {
    flex-direction: column;
    height: unset;
  }
  #wrapper main .main4_wrap .main4_inner .main4count {
    width: 100%;
    margin-left: 80px;
    margin-bottom: -60px;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox {
    position: unset;
    transform: translate(0);
  }
  #wrapper main .main4_wrap .main4_inner .main4Img {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    display: none;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine {
    position: unset;
    transform: translate(0);
    margin-right: -10rem;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine .bottom_con {
    bottom: 0%;
    left: 60%;
  }
}
@media (max-width: 930px) {
  #wrapper main .main4_wrap .main4_inner .main4count {
    margin-bottom: 60px;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .title span .none {
    display: none;
  }
}
@media (max-width: 1410px) {
  #wrapper main .main5_wrap .main5_inner .main5_left .title {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 1200px) {
  #wrapper main .main5_wrap .main5_inner .main5_left .title {
    font-size: 80px;
    line-height: 80px;
  }
}
@media (max-width: 930px) {
  #wrapper main .main5_wrap .main5_inner {
    flex-direction: column;
  }
  #wrapper main .main5_wrap .main5_inner .main5_left {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(111, 112, 112, 0.3);
    padding: 50px 30px;
  }
  #wrapper main .main5_wrap .main5_inner .main5_left .title {
    position: unset;
    transform: translate(0);
    width: 100%;
  }
  #wrapper main .main5_wrap .main5_inner .main5_left .arrow_right {
    display: block;
  }
  #wrapper main .main5_wrap .main5_inner .main5_left .rotate_arrow {
    display: none !important;
  }
  #wrapper main .main5_wrap .main5_inner .main5_right {
    width: 100%;
  }
  #wrapper main .main5_wrap .main5_inner .main5_right .rightBox {
    border-left: none;
    border-right: none;
    padding: 40px;
  }
  #wrapper main .main5_wrap .main5_inner .main5_right .rightBox .infoBox h2 {
    text-overflow: unset;
    white-space: unset;
  }
  #wrapper main .main5_wrap .main5_inner .main5_right .rightBox .imgBox {
    display: none !important;
    position: absolute;
    top: 0;
    right: 10rem;
    height: 100%;
    width: 30%;
  }
  #wrapper main .main5_wrap .main5_inner .main5_right .rightBox .imgBox img {
    object-fit: cover;
  }
}
@media (max-width: 930px) {
  #wrapper main .main6_wrap .title {
    margin-top: 100px;
  }
  #wrapper main .main6_wrap .imgbox {
    margin-bottom: 100px;
  }
}
@media (max-width: 940px) {
  #wrapper main .toTop {
    right: 40px;
    width: 44px;
  }
}
@media (min-width: 1410) {
  #wrapper .main4Img {
    display: block !important;
  }
}
@media (min-width: 941px) {
  #wrapper .rotate_arrow {
    display: block !important;
  }
}
@media (max-width: 940px) {
  #wrapper footer .footer_inner {
    width: 90%;
  }
  #wrapper footer .footer_inner .footer_logo {
    justify-content: start;
  }
  #wrapper footer .footer_inner .footer_link {
    justify-content: start;
  }
  #wrapper footer .footer_inner .footer_link a {
    margin: 0;
  }
  #wrapper footer .footer_inner .footer_privacy {
    justify-content: start;
  }
  #wrapper footer .footer_inner .footer_privacy span {
    margin: 0;
    margin-right: 20px;
  }
  #wrapper footer .footer_inner .footer_info .info {
    width: 470px;
    flex-direction: column;
    align-items: unset;
    /* 라인 지우기 */
  }
  #wrapper footer .footer_inner .footer_info .info span {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
  }
  #wrapper footer .footer_inner .footer_info .info .line {
    margin: 1px 5px 0 5px;
    justify-content: center;
    align-items: unset;
  }
  #wrapper footer .footer_inner .footer_info .info .Line_mo_none {
    display: none !important;
  }
  #wrapper footer .footer_inner .footer_info .info:first-child {
    width: 100%;
    margin-bottom: 15px;
  }
  #wrapper footer .footer_inner .footer_info .info:first-child span:last-child {
    margin-bottom: 0;
  }
  #wrapper footer .footer_inner .footer_info .info:last-child .line {
    margin-top: 2px;
  }
}

/*# sourceMappingURL=style2PC.css.map */
