
:root {
    --swiper-navigation-size : 44px;
    --color-orange: #ff4713;
    --font-SF : 'SF UI Display','Noto Sans KR', sans-serif;
    --font-Noto : 'Noto Sans KR', sans-serif;
}

body,html {
    font-family: var(--font-Noto);
    font-size: 10px;
    color: #212121;
    background-color: #f7f6f3;
    width: 100%;
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
/* display:none */
.displayNone {
    display: none !important;
}
.pc {
    display: none !important;
}
.popupOpen {
    height: 100%;
    overflow-y: hidden;
    touch-action: none;
}
.scrollMenu {
    transform: translate(0, -500px);
}
/* 메뉴 나올때 블러처리 부분 */
.bg_blur {
    filter: blur(10px);
}
/* br */
.none {
    display: none;
}

/* 클릭이벤트/ 모바일 메뉴 */
.pos {
    position: relative;
    z-index: 999999999 !important;
    .mo_menu {
        position: fixed;
        top: 0;
        right: -321px;
        width: 320px;
        height: 120vh;
        transition: .3s ease;
        .mo_menu_con {
            position: absolute;
            right: 0;
            width: 320px;
            height: 100%;
            background-color: #fff;
            .closeBtn {
                background: url(../imgs/icon/X@2x.png) no-repeat 50% / cover;
                width: 22px;
                height: 22px;
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
            }
            .flex_menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 90vh;
                margin-top: 70px;
                padding-bottom: 100px;
                overflow-y: scroll;
    
                /* overflow-y: scroll; 모양 숨기기 기능 그대로 */
                -ms-overflow-style: none;
                &::-webkit-scrollbar{
                    display:none;
                }
    
                .menu_list {
                    width: 77%;
                    .menus {
                        margin-top: 20px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            .clickmenu {
                                .menusTitle {
                                    text-transform: uppercase;
                                }
                            }
                        }
                        .clickmenu {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .menusTitle {
                                font-size: 20px;
                                font-weight: 500;
                                margin-top: 5px;
                                color: var(--color-orange);
                            }
                            .menuArrow {
                                background: url(../imgs/icon/arrow-down.png) no-repeat 50% / cover;
                                width: 18px;
                                height: 18px;
                                cursor: pointer;
                            }
                        }
                        /* class active */
                        .clickmenu_active {
                            .menuArrow {
                                background-image: url(../imgs/icon/arrow-up.png);
                            }
                        }
                        .listmenu {
                            display: none;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-top: 25px;
                            margin-bottom: 50px;
                            a {
                                font-size: 12px;
                                padding: 7px;
                                margin-bottom: 7px;
                                color: var(--color-orange);
                                text-decoration: none;
                            }
                            &:nth-child(2) {
                                a {
                                    margin-bottom: 9px;
                                }
                            }
                        }
                        /* class active */
                        .listmenu_active {
                            display: flex;
                        }
                        
                    }
                }
                .sns_list {
                    width: 77%;
                    margin-top: 40px;
                    a {
                        text-decoration: none;
                        color: #333;
                        &:nth-child(2) {
                            margin: 0 10px;
                        }
                        img {
                            max-width: 100%;
                            border: 0;
                            vertical-align: top;
                        }
                    }
                }
                .link_btn {
                    border-radius: 20px;
                    background-color: var(--color-orange);
                    font-size: 15px;
                    font-weight: 500;
                    color: #fff;
                    padding: 10px 26px;
                    margin: 40px 135px 60px 0;
                    border: none;
                    
                }
            }
        }
    }
    /* class active */
    .mo_menu_active {
        right: 0;
    }
}

/* 커서 커스텀 */
.cursor {
    display: block;
    position: absolute;
    z-index: 9999999999999999;
    transform: translate(10%, 10%);
    background: url(../imgs/main/mouse-cursor.png) no-repeat 50%;
    background-size: contain;
    width: 45px;
    height: 45px;
    pointer-events: none;
}

/* header */
#wrapper {
    position: relative;
    /* 로고와 메뉴 클릭 전 */
    #header {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        transition: 0.5s ease;
        z-index: 99999;
        display: grid;
        display: block;
        .header_inner {
            position: relative;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-content: center;
            background: #fff;
            z-index: 99999;
            .logo, .menu, .link {
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                color: var(--color-orange);
                font-size: 18px;
                font-weight: 500;
            }
            .logo {
                margin: 0 80px;
                a {
                    width: 122px;
                    img {
                        max-width: 100%;
                        border: 0;
                        vertical-align: top;
                    }
                }
            }
            .menu {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                cursor: pointer;
                .menu1 {
                    margin: 0 40px;
                    width: 140px;
                    white-space: nowrap;
                    text-align: left;
                    line-height: 50px;
                    font-weight: 500;
                    flex-shrink: 0;
                    transition: 0.3s ease-in-out;
                    border-radius: 25px;
                }
            }

            .link {
                margin: 0 80px;
                .btn_link {
                    a {
                        padding: 7px 25px;
                        border-radius: 20px;
                        margin-right: 32px;
                        letter-spacing: 0.1px;
                        background-color: var(--color-orange);
                        font-size: 16px;
                        font-weight: 400;
                        font-family: var(--font-Noto);
                        color: #fff;
                        border: 1px solid transparent;
                        transition: 0.2s ease;
                        cursor: pointer;
                        text-decoration: none;
                        outline: 0;
                    }
                }
                .sns_link {
                    a {
                        margin-left: 16px;
                        &:nth-child(2) {
                            margin-left: 13px;
                        }
                        &:last-child {
                            margin-left: 12px;
                        }
                        img {
                            max-width: 100%;
                            border: 0;
                            vertical-align: top;
                        }
                    }
                }
            }
            .burger {
                display: none;
            }
        }
        /* menu 마우스 오버시 위에서 나타나는 메뉴 */
        .menuPcHidden {
            position: fixed;
            top: -480px;
            left: 0;
            width: 100%;
            height: 480px;
            background: #fff;
            z-index: 9;
            overflow: hidden;
            transition: 0.5s ease-in-out;
            .SoMenu_inner {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 80px;
                .SoMenu {
                    display: flex;
                    justify-content: space-between;
                    color: var(--color-orange);
                    font-weight: 400;
                    font-size: 18px;
                    position: absolute;
                    top: 90px;
                    left: 50%;
                    transform: translate(-61%, 0);
                    ul {
                        padding: 0;
                        margin: 0;
                        li {
                            margin: 0 40px;
                            width: 140px;
                            white-space: nowrap;
                            transition: .3s ease-in-out;
                            border-radius: 25px;
                            text-align: left;
                            line-height: 50px;
                            flex-shrink: 0;
                            color: var(--color-orange);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        /* js 클래스 추가 */
        .menuOver {
            top: 0;
        }
        .linkBtnOver {
            background-color: #fff !important;
            color: var(--color-orange) !important;
            border: 1px solid var(--color-orange) !important;
        }
    }
    main {
        position: relative;
        /* main1 / 스와이프 */
        .mianSwiper {
            position: relative;
            overflow: hidden;
            height: 100vh;
            .swiper {
                width: 100%;
                height: 100%;
                position: relative;
                max-height: 100vh;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                overflow: hidden;
                list-style: none;
                padding: 0;
                z-index: 1;
                .swiper-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    display: flex;
                    cursor: pointer;
                    .swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        background-color: #fff;
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;
                        height: 100%;
                        width: 100%;
                        position: relative;
                        img {
                            display: block;
                            min-width: 100%;
                            min-height: 100vh;
                            object-fit: cover;
                        }
                        .img {
                            width: 100%;
                            .img1 {
                                width: 100%;
                            }
                            .img2 {
                                width: 100%;
                            }
                            .img3 {
                                width: 100%;
                            }
                            .img4 {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .mo_main_pag {
                position: unset;
                width: unset !important;
                font-weight: bold;
                font-size: 0;
                line-height: 21px;
                color: rgba(255, 71, 19, 0.6);
                letter-spacing: 4px;
                margin-right: 20px;
                position: absolute;
                text-align: center;
                .swiper-pagination-current {
                    color: var(--color-orange);
                }
            }
            .scroll_mouse {
                position: absolute;
                bottom: 83px;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 17px;
                height: 27px;
                border: 2px solid rgba(255, 255, 255, 1);
                border-radius: 10px;
                z-index: 999;
                span {
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 2px;
                    height: 5px;
                    background-color: #fff;
                }
            }
            .scroll_info {
                position: absolute;
                bottom: 65px;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 14px;
                z-index: 999;
            }
            .scroll_line {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: 1px;
                height: 41px;
                background: #fff;
                z-index: 999;
            }
        }
        /* main2 / 메뉴부분 */
        .main2_wrap {
            min-height: 100vh;
            .main2_inner {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                position: relative;
                .selectoMenu_left {
                    width: calc(100%/2);
                    position: relative;
                    height: 100%;
                    .bgImg {
                        .bg {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 100vh;
                            opacity: 1;
                        }
                        .bg1 {
                            z-index: 2;
                            background: url(../imgs/menu/c-signature-bg-1.jpg) no-repeat center / cover;
                        }
                        .bg2 {
                            z-index: 0;
                            background: url(../imgs/menu/c-beverage-bg-1.jpg) no-repeat center / cover;
                        }
                        .bg3 {
                            z-index: 0;
                            background: url(../imgs/menu/c-coffee-bg.png) no-repeat center / cover;
                        }
                        .bg4 {
                            z-index: 1;
                            background: url(../imgs/menu/c-cookie-bg.png) no-repeat center / cover;
                        }
                        /* 클릭이벤트 */
                        .checked {
                            animation:  widthani 1s cubic-bezier(0.76,0,0.24,1) forwards;
                            z-index: 5;
                            @keyframes widthani {
                                0% {
                                  width: 0;
                                }
                                100% {
                                  width: 100%;
                                }
                            }
                        }
                    }
                    .main2_Btn {
                        position: absolute;
                        top: 8rem;
                        left: 8rem;
                        z-index: 5;
                        h2 {
                            font-size: 8rem;
                            font-weight: 600;
                            color: #fff;
                            font-family: var(--font-SF);
                            text-transform: uppercase;
                            margin-bottom: 0.5em;
                        }
                        .btn_list {
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            button {
                                font-size: 2.4rem;
                                font-weight: 300;
                                color: #fff;
                                font-family: var(--font-SF);
                                text-transform: uppercase;
                                margin-bottom: 3rem;
                            }
                            /* 클릭 이벤트 */
                            .listButton_click {
                                font-weight: 600;
                                padding-bottom: 2px;
                                border-bottom: 3px solid #fff;
                            }
                        }
                    }
                }
                .selectoMenu_Right {
                    width: calc(100%/2);
                    position: relative;
                    height: 100%;
                    .right_inner {
                        width: 650px;
                        margin-left: auto;
                        margin-right: 60px;
                        height: 100%;
                        .title {
                            padding-top: 120px;
                            position: relative;
                            h3 {
                                font-size: 3.6rem;
                                font-weight: 600;
                                color: var(--color-orange);
                                font-family: var(--font-SF);
                                text-transform: uppercase;
                                margin-bottom: 20px;
                            }
                            p {
                                font-size: 1.8rem;
                                color: var(--color-orange);
                                line-height: 1.6;
                            }
                            .text1 {
                                position: absolute;
                            }
                            .text2 {
                                position: absolute;
                            }
                            .text3 {
                                position: absolute;
                            }
                            .text4 {
                                position: absolute;
                            }
                        }
                        .itemImg {    
                            width: 100%;
                            height: auto;
                            .imgbox {
                                margin-left: auto;
                                margin-right: auto;
                                position: relative;
                                overflow: hidden;
                                list-style: none;
                                padding: 0;
                                z-index: 1;
                                .box {
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 1;
                                    display: flex;
                                    box-sizing: content-box;
                                    .img {
                                        margin: 170px 0 100px;
                                        flex-shrink: 0;
                                        width: 34%;
                                        height: 34%;
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        cursor: pointer;
                                        .item {
                                            width: 100%;
                                            margin: 0 auto;
                                        }
                                    }
                                }
                                img {
                                    margin-right: 10px;
                                    margin-left: 5px;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .itemTopping {
                            .toppingBox {
                                h4 {
                                    font-size: 2.2rem;
                                    font-weight: 700;
                                    color: var(--color-orange);
                                    padding-bottom: 11px;
                                    border-bottom: 1px solid var(--color-orange);
                                }
                                .topping_con {
                                    position: relative;
                                    height: 200px;
                                    .topping {
                                        position: absolute;
                                        width: 100%;
                                        flex-wrap: wrap;
                                        display: flex;
                                        margin-top: 3rem;
                                        flex-wrap: wrap;
                                        .toppingImg {
                                            margin-right: 2rem;
                                            margin-bottom: 1rem;
                                            img {
                                                display: block;
                                                width: 70px;
                                                margin: 0 auto;
                                            }
                                            p {
                                                text-align: center;
                                                margin-top: 1.6rem;
                                                font-size: 1.4rem;
                                                color: var(--color-orange);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .selectoMenu_center {
                    position: absolute;
                    top: 47%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                    .centerImg {
                        width: 440px;
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        /* main3 / our table */
        .main3_wrap {
            position: relative;
            display: flex;
            justify-content: center;
            overflow: hidden;
            .main3_inner {
                width: 100%;
                padding-bottom: 5px;
                border-bottom: 1px solid var(--color-orange);
                .title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 160px 0;
                    img {
                        width: 410px;
                    }
                }
                .bg {
                    overflow: hidden;
                }
                .aniLetterBox {
                    width: 100%;
                    height: 45px;
                    background: none;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 30px 0;
                    
                    .box {
                        position: absolute;
                        display: inline-block;
                        white-space: nowrap;
                        background: none;
                        width: 3200px;
                        overflow: hidden;
                        animation: aniLetter 35s linear infinite;
                        @keyframes aniLetter {
                            0% {
                                transform: translateX(100%);
                            }
                            100% {
                                transform: translateX(-100%);
                            }
                        }
                        span {
                            display: inline-block;
                            box-sizing: border-box;
                            color: var(--color-orange);
                            font-size: 36px;
                            margin-right: 10px;
                            img {
                                vertical-align: middle;
                                margin: 0 10px;
                                margin-bottom: 5px;
                            }
                        }
                    }
                    .box1 {
                        animation-delay: -17.5s;
                    }
                }
            }
        }
        /* main4 / count */
        .main4_wrap {
            position: relative;
            overflow: hidden;
            padding: 100px 0;
            .main4_inner {
                width: 100%;
                height: 100vh;
                display: flex;
                .main4count {
                    width: 60%;
                    height: 100%;
                    position: relative;
                    .countBox {
                        position: absolute;
                        padding: 30px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 888px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: left;
                        color: var(--color-orange);
                        .title {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: left;
                            span {
                                &:first-child {
                                    display: inline-block;
                                    font-size: 65px;
                                    font-weight: bold;
                                    line-height: 1.2;
                                    word-break: keep-all;
                                }
                                &:last-child {
                                    display: inline-block;
                                    font-size: 18px;
                                    font-weight: 400;
                                    line-height: 1.4;
                                    margin-top: 38px;
                                }
                            }
                        }
                        .container {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: left;
                            width: 770px;
                            height: 294px;
                            margin-top: 90px;
                            padding: 30px 60px;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            box-sizing: border-box;
                            p {
                                &:first-child {
                                    font-size: 22px;
                                    font-weight: 500;
                                }
                                &:nth-child(2) {
                                    font-size: 140px;
                                    font-weight: 500;
                                    line-height: 156px;
                                    &::after {
                                        content: "PACK";
                                        font-size: 32px;
                                        line-height: 44px;
                                        margin-left: 20px;
                                    }
                                }
                                &:last-child {
                                    font-size: 16px;
                                    line-height: 40px;
                                    opacity: 0.3;
                                }
                            }
                        }
                        .count_Btn {
                            width: 194px;
                            height: 60px;
                            border-radius: 30px;
                            color: #fff;
                            background: var(--color-orange);
                            font-size: 20px;
                            font-family: var(--font-Noto);
                            font-weight: 400;
                            line-height: 56px;
                            margin-top: 50px;
                            transition: 0.3s ease-in-out;
                        }
                    }
                }
                .main4Img {
                    width: 40%;
                    height: 100%;
                    position: relative;
                    .imgLine {
                        position: absolute;
                        top: 50%;
                        right: -1rem;
                        transform: translate(0, -50%);
                        width: 396px;
                        height: 792px;
                        border-top-left-radius: 470px;
                        border-bottom-left-radius: 470px;
                        border: 2px solid rgba(235,86,46,.4);
                        .center_con {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translate(-50%,-50%);
                            width: 590px;
                            height: 590px;
                            background: url(../imgs/main/m-4th_sec-main_con_1.png) no-repeat 50% /cover;
                            animation: con_main 5s ease-in-out infinite;
                            @keyframes con_main {
                                0% {
                                  background-image: url(../imgs/main/m-4th_sec-main_con_1.png);
                                }
                              
                                42% {
                                  background-image: url(../imgs/main/m-4th_sec-main_con_1.png);
                                }
                              
                                50% {
                                  background-image: url(../imgs/main/m-4th_sec-con_1.png);
                                }
                              
                                92% {
                                  background-image: url(../imgs/main/m-4th_sec-con_1.png);
                                }
                              
                                100% {
                                  background-image: url(../imgs/main/m-4th_sec-main_con_1.png);
                                }
                            }
                        }
                        .top_con {
                            position: absolute;
                            top: 0%;
                            left: 45%;
                            transform: translate(30%, -30%);
                            width: 130px;
                            height: 130px;
                            background: url(../imgs/main/m-4th_sec-con_1.png) no-repeat 50% /cover;
                            animation: con_top 5s ease-in-out infinite;
                            @keyframes con_top {
                                0% {
                                  background-image: url(../imgs/main/m-4th_sec-con_1.png);
                                }
                              
                                42% {
                                  background-image: url(../imgs/main/m-4th_sec-con_1.png);
                                }
                              
                                50% {
                                  background-image: url(../imgs/main/m-4th_sec-main_con_1.png);
                                }
                              
                                92% {
                                  background-image: url(../imgs/main/m-4th_sec-main_con_1.png);
                                }
                              
                                100% {
                                  background-image: url(../imgs/main/m-4th_sec-con_1.png);
                                }
                            }
                        }
                        .bottom_con {
                            position: absolute;
                            bottom: -1%;
                            left: 75%;
                            transform: translate(30%, -30%);
                            width: 22px;
                            height: 22px;
                            border-radius: 50%;
                            background-color: var(--color-orange);
                        }
                    }
                }
            }
        }
        /* main5 / news&event */
        .main5_wrap {
            width: 100%;
            height: auto;
            .main5_inner {
                width: 100%;
                height: 100%;
                display: flex;
                border-top: 1px solid rgba(111, 112, 112, 0.3);
                .main5_left {
                    position: relative;
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    border-bottom: 1px solid rgba(111, 112, 112, 0.3);
                    .title {
                        position: absolute;
                        top: 40px;
                        left: 80px;
                        transform: translate(0);
                        font-size: 100px;
                        line-height: 100px;
                        color: var(--color-orange);
                        font-weight: 700;
                        text-transform: uppercase;
                        white-space: nowrap;
                        .newsBr {
                            display: block;
                        }
                    }
                    .arrow_right {
                        width: 10%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        display: none;
                        img {
                            max-width: 100%;
                        }
                    }
                    .rotate_arrow {
                        position: absolute;
                        bottom: 0;
                        left: 80px;
                        transform: translate(0, 70%);
                        width: 186px;
                        height: 186px;
                        .rotate_img {
                            animation: rotateani linear 5s infinite;
                            transition: 5s linear infinite;
                            @keyframes rotateani {
                                from {
                                  transform: rotate(0deg);
                                }
                              
                                to {
                                  transform: rotate(360deg);
                                }
                              }
                        }
                        a {
                            color: #333;
                            .alink_arrow {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
                .main5_right {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    .rightBox {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        padding: 60px;
                        box-sizing: border-box;
                        cursor: pointer;
                        width: 100%;
                        border-left: 1px solid rgba(111, 112, 112, 0.3);
                        border-bottom: 1px solid rgba(111, 112, 112, 0.3);
                        .infoBox {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: left;
                            width: 80%;
                            color: var(--color-orange);
                            h3 {
                                font-size: 12px;
                                line-height: 12px;
                                font-family: var(--font-SF);
                                opacity: 0.7;
                            }
                            h2 {
                                font-size: 24px;
                                font-weight: 500;
                                line-height: 33px;
                                margin-top: 10px;
                                margin-bottom: 13px;
                                word-break: keep-all;
                                overflow: hidden;
                                text-overflow: ellipsis !important;
                                white-space: nowrap;
                            }
                            p {
                                font-size: 16px;
                                line-height: 24px;
                                font-family: var(--color-orange);
                                opacity: .6;
                            }
                        }
                        .imgBox {
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 190px;
                            width: 224.66px;
                            height: 100%;
                            img {
                                height: 100%;
                                transition: 0.5s ease-in-out;
                                object-fit: cover;
                                /* 마우스 오버시 op:1 */
                                opacity: 0;
                            }
                        }
                        .arrowBox {
                            width: 10%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
        /* main6 / sns 부분 */
        .main6_wrap {
            overflow: hidden;
            .title {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 300px;
                .box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        font-size: 50px;
                        font-weight: bold;
                        line-height: 117px;
                        font-family: var(--font-SF);
                        color: var(--color-orange);
                        margin-left: 16px;
                    }
                }
            }
            .imgbox {
                margin-bottom: 130px;
                .img_inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 70px 0;
                    a {
                        width: 20%;
                        height: 20%;
                        display: block;
                        margin: 0 10px;
                        img {
                            cursor: pointer !important;
                        }
                    }
                }
            }
        }

        /* footer 부분 개인정보취급방침 클릭시 팝업창 */
        #privacyPopUp {
            .popup_wrap {
                overflow: hidden;
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba(0,0,0,.6);
                z-index: 6000;
                display: flex;
                justify-content: center;
                align-items: center;
                .footer_popup {
                    width: 522px;
                    height: auto;
                    position: relative;
                    background-color: #fff;
                    border-radius: 5px;
                    border: 1px solid #212121;
                    padding: 30px 0;
                    .privacy_closeBtn {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        width: 30px;
                        height: 30px;
                        background: url(../imgs/icon/X@2x.png) no-repeat 50% / cover;
                        cursor: pointer; 
                    }
                    .privacy_title {
                        font-size: 20px;
                        font-weight: 600;
                        text-align: center;
                        color: var(--color-orange);
                    }
                    .privacy_title2 {
                        font-size: 12px;
                        font-weight: 500;
                        text-align: center;
                        color: var(--color-orange);
                        margin-top: 10px;
                    }
                    .privacy_txtbox {
                        padding: 10px;
                        height: 350px;
                        width: 83%;
                        margin: 0 auto;
                        margin-top: 40px;
                        border: 1px solid #fbb19a;
                        border-radius: 5px;
                        word-break: keep-all;
                        font-size: 14px;
                        color: var(--color-orange);
                        line-height: 22px;
                        overflow-y: scroll;
                        &::-webkit-scrollbar {
                            width: 5px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: var(--color-orange);
                            height: 180px;
                            border-radius: 2.5px;
                        }
                        &::-webkit-scrollbar-track {
                            background-color: 0;
                        }
                        h4 {
                            &:first-child {
                                padding-top: 0;
                                margin-top: 0;
                            }
                            font-size: 16px;
                            font-weight: 600;
                            padding-top: 25px;
                        }
                        p {
                            display: block;
                            margin: 15px 0;
                        }
                    }
                }
            }
        }
        /* 클릭시 맨위로 스크롤 부드럽게 이동 */
        .toTop {
            width: 80px;
            position: absolute;
            right: 80px;
            // bottom: -100px;
            bottom: -120px;
            // bottom: 440px;
            z-index: 100;
            text-align: center;
            cursor: pointer;
            .topBtn {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                .circle_totop {
                    width: 50px;
                }
                .arrow_totop {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 30px;
                    height: 30px;
                }
            }
            span {
                font-size: 14px;
                margin-top: 10px;
                font-family: var(--font-SF);
                line-height: 26px;
                letter-spacing: -0.35px;
                color: #fff;
            }
        }
    }
    footer {
        position: relative;
        width: 100%;
        background-color: var(--color-orange);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer_inner {
            color: #fff;
            width: 100%;
            background-color: var(--color-orange);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .footer_logo {
                display: flex;
                justify-content: center;
                margin-top: 80px;
                margin-bottom: 40px;
            }
            .footer_link {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;
                a {
                    margin: 0 36px;
                    &:nth-child(2) {
                        margin: 0 36px;
                    }
                }
            }
            .footer_privacy {
                display: flex;
                justify-content: center;
                font-size: 16px;
                span {
                    margin: 0 20px;
                    color: #fff;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
            .footer_info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
                margin-bottom: 40px;
                .info {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 26px;
                        letter-spacing: 0.35px;
                        margin: 0 10px;
                        word-break: keep-all;
                        text-align: center;
                    }
                    .line {
                        width: 1px;
                        height: 13px;
                        background-color: white;
                        opacity: .2;
                        margin-top: 2px;
                    }
                    &:first-child {
                        width: 100%;                        
                        text-align: left;
                        span {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    &:last-child {
                        span {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        .line {
                            margin-top: 8px;
                        }
                    }
                    .box {
                        display: flex;
                        justify-content: center;
                        align-items: unset;
                    }
                }
            }
            .footer_copy {
                display: flex;
                justify-content: center;
                margin-top: 60px;
                margin-bottom: 65px;
                span {
                    font-size: 12px;
                    font-family: var(--font-SF);
                    line-height: 26px;
                    letter-spacing: 0.5px;
                    font-weight: 300;
                }
            }
        }
    }
}
