:root {
    --swiper-navigation-size : 44px;
    --color-orange: #ff4713;
    --font-SF : 'SF UI Display','Noto Sans KR', sans-serif;
    --font-Noto : 'Noto Sans KR', sans-serif;
}
html, body {
    font-family: var(--font-Noto);
    width: 100%;
    font-size: 10px;
    color: #212121;
    background-color: #f7f6f3;
    overflow-x: hidden;
}
.pc {
    display: block !important;
}
.mobile {
    display: none !important;
}
.br {
    display: none !important;
}
#wrapper {
    /* header */
    @media (max-width:1650px) {
        #header {
            .header_inner {
                .logo {
                    margin: 0 40px;
                }
                .menu {
                    .menu1 {
                        margin: 0 25px;
                    }
                }
                .link {
                    margin: 0 40px;
                    .btn_link {
                        a {
                            margin-right: 16px;
                        }
                    }
                    .sns_link {
                        a {
                            margin-left: 10px;
                        }
                    }
                }
                .burger {
                    margin: 0 40px;
                }
            }
            .menuPcHidden {
                .SoMenu_inner {
                    .SoMenu {
                        ul {
                            li {
                                margin: 0 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width:1300px) {
        #header {
            .header_inner {
                .logo, .menu, .link {
                    font-size: 16px;
                }
                .menu {
                    left: 48.5%;
                    .menu1 {
                        margin: 0 10px;
                        width: 122px;
                    }
                }
                .link {
                    .btn_link {
                        a {
                            padding: 7px 16px;
                            margin-right: 10px;
                            font-size: 15px;
                        }
                    }
                    .sns_link {
                        a {
                            margin-left: 5px;
                        }
                    }
                }
                
            }
            .menuPcHidden {
                .SoMenu_inner {
                    .SoMenu {
                        font-size: 16px;
                        left: 48.5%;
                        transform: translate(-64%, 0);
                        ul {
                            li {
                                margin: 0 10px;
                                width: 122px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width:1024px) {
        #header {
            .header_inner {
                height: 80px;
                .logo {
                    a {
                        width: 100px;
                    }
                }
                .menu {
                    display: none !important;
                }
                .link {
                    display: none !important; 
                }
                .burger {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    z-index: 99999;
                    .burger_menu {
                        height: 22px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        z-index: 9999999999;
                        span {
                            width: 30px;
                            height: 3px;
                            background: var(--color-orange);
                        }
                    }
                }
            }
            .menuPcHidden {
                display: none !important;
            }
        }
    }
    main {
        /* main2 */
        @media (max-width:1700px) {
            .main2_wrap {
                .main2_inner {
                    .selectoMenu_Right {
                        .right_inner {
                            width: 80%;
                            margin: 0 auto;
                            .itemImg {
                                .imgbox {
                                    .box {
                                        width: 80%;
                                        margin-left: 20%;
                                        .img {
                                            margin-top: 190px;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:1600px) {
            .main2_wrap {
                .main2_inner {
                    .selectoMenu_left {
                        .main2_Btn {
                            left: 10%;
                            h2 {
                                font-size: 6rem;
                            }
                            .btn_list {
                                button {
                                    font-size: 2rem;
                                    margin-bottom: 1em;
                                }
                            }
                        }
                    }
                    .selectoMenu_Right {
                        .right_inner {
                            .itemTopping {
                                .toppingBox {
                                    .topping_con {
                                        .topping {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:1400px) {
            .main2_wrap {
                .main2_inner {
                    .selectoMenu_Right {
                        .right_inner {
                            .title {
                                h3 {
                                    font-size: 3.2rem;
                                    margin-bottom: 16px;
                                }
                                p {
                                    font-size: 1.6rem;
                                    line-height: 1.4;
                                }
                            }
                            .itemTopping {
                                .toppingBox {
                                    h4 {
                                        font-size: 2rem;
                                    }
                                    .topping_con {
                                        .topping {
                                            .toppingImg {
                                                p {
                                                    font-size: 12px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:1200px) {
            .main2_wrap {
                display: block;
                .main2_inner {
                    .selectoMenu_left {
                        width: 100%;
                        .bgImg {
                            height: 70vh;
                            .bg {
                                height: 100%;
                            }
                        }
                        .main2_Btn {
                            width: 90%;
                            left: 50%;
                            top: 5rem;
                            transform: translateX(-50%);
                            h2 {
                                font-size: 6rem;
                                text-align: center;
                            }
                            .btn_list {
                                flex-direction: row;
                                justify-content: center;
                                button {
                                    font-size: 2rem;
                                    margin-bottom: 1em;
                                    margin: 0 20px;
                                    padding: 0;
                                }
                            }
                        }
                    }
                    .selectoMenu_Right {
                        width: 100%;
                        .right_inner {
                            width: 90%;
                            .title {
                                padding-top: 80px;
                            }
                            .itemImg {
                                .imgbox {
                                    .box {
                                        width: 100% !important;
                                        margin-left: 0 !important;
                                        .img {
                                            height: auto;
                                            margin-bottom: 80px;
                                            .item {
                                                width: 90%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .selectoMenu_center {
                        display: none !important;
                    }
                }
            }
        }
        /* main3 */
        /* main4 */
        @media (max-width:1650px) {
            .main4_wrap {
                .main4_inner {
                    .main4count {
                        .countBox {
                            margin-left: 0;
                            .title {
                                span {
                                    &:first-child {
                                        font-size: 60px;
                                    }
                                }
                            }
                        }
                    }
                    .main4Img {
                        .imgLine {
                            right: -20%;
                            width: 470px;
                            height: 790px;
                            .center_con {
                                width: 550px;
                                height: 550px;
                            }
                            .top_con {
                                left: 30%;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:1410px) {
            .main4_wrap {
                .main4_inner {
                    flex-direction: column;
                    height: unset;
                    .main4count {
                        width: 100%;
                        margin-left: 80px;
                        margin-bottom: -60px;
                        .countBox {
                            position: unset;
                            transform: translate(0);
                        }
                    }
                    .main4Img {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        justify-content: end;
                        display: none;
                        .imgLine {
                            position: unset;
                            transform: translate(0);
                            margin-right: -10rem;
                            .bottom_con {
                                bottom: 0%;
                                left: 60%;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:930px) {
            .main4_wrap {
                .main4_inner {
                    .main4count {
                        margin-bottom: 60px;
                        margin-left: 0;
                        display: flex;
                        justify-content: center;
                        .countBox {
                            .title {
                                span {
                                    .none {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /* main5 */
        @media (max-width:1410px) {
            .main5_wrap {
                .main5_inner {
                    .main5_left {
                        .title {
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                    }
                }
            }
        }
        @media (max-width:1200px) {
            .main5_wrap {
                .main5_inner {
                    .main5_left {
                        .title {
                            font-size: 80px;
                            line-height: 80px;
                        }
                    }
                }
            }
        }
        @media (max-width: 930px) {
            .main5_wrap {
                .main5_inner {
                    flex-direction: column;
                    .main5_left  {
                        position: relative;
                        width: 100%;
                        border-bottom: 1px solid rgba(111, 112, 112, 0.3);
                        padding: 50px 30px;
                        .title {
                            position: unset;
                            transform: translate(0);
                            width: 100%;
                        }
                        .arrow_right {
                            display: block;
                        }
                        .rotate_arrow {
                            display: none !important;  
                        }
                    }
                    .main5_right {
                        width: 100%;
                        .rightBox {
                            border-left: none;
                            border-right: none;
                            padding: 40px;
                            .infoBox {
                                h2 {
                                    text-overflow: ellipsis !important;
                                    overflow: hidden !important;
                                    white-space: unset;
                                }
                            }
                            .imgBox {
                                display: none !important;
                                position: absolute;
                                top: 0;
                                right: 10rem;
                                height: 100%;
                                width: 30%;
                                img {
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
        /* main6 */
        @media (max-width:930px) {
            .main6_wrap {
                .title {
                    margin-top: 100px;
                }
                .imgbox {
                    margin-bottom: 100px;
                }
            }
        }
        /* footer 부분 개인정보취급방침 클릭시 팝업창 */

        /* 클릭시 맨위로 스크롤 부드럽게 이동 */
        @media (max-width:940px) {
            .toTop {
                right: 40px;
                width: 44px;
            }
        }
    }
    @media (min-width:1410) {
        .main4Img {
            display: block !important;
        }
    }
    @media (min-width: 941px) {
        .rotate_arrow {
            display: block !important;
        }
    }
    /* footer */
    @media (max-width:940px) {
        footer {
            .footer_inner {
                width: 90%;
                .footer_logo {
                    justify-content: start;
                }
                .footer_link {
                    justify-content: start;
                    a {
                        margin: 0;
                    }
                }
                .footer_privacy {
                    justify-content: start;
                    span {
                        margin: 0;
                        margin-right: 20px;
                    }
                }
                .footer_info {
                    .info {
                        width: 470px;
                        flex-direction: column;
                        align-items: unset;
                        span {
                            font-size: 14px;
                            line-height: 14px;
                            margin-bottom: 15px;
                        }
                        .line {
                            margin: 1px 5px 0 5px;
                            justify-content: center;
                            align-items: unset;
                        }
                        /* 라인 지우기 */
                        .Line_mo_none {
                            display: none !important;
                        }
                        &:first-child {
                            width: 100%;
                            margin-bottom: 15px;
                            span {
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                        &:last-child {
                            .line {
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}
