@charset "UTF-8";
:root {
  --swiper-navigation-size: 44px;
  --color-orange: #ff4713;
  --font-SF: "SF UI Display","Noto Sans KR", sans-serif;
  --font-Noto: "Noto Sans KR", sans-serif;
}

html, body {
  font-family: var(--font-Noto);
  width: 100%;
  font-size: 10px;
  color: #212121;
  background-color: #f7f6f3;
  overflow-x: hidden;
}

.pc {
  display: block !important;
}

.mobile {
  display: none !important;
}

.br {
  display: none !important;
}

/* 커서 커스텀 */
@media (max-width: 900px) {
  .cursor {
    display: none !important;
  }
}

#wrapper {
  /* header */
  /* footer */
}
@media (max-width: 540px) {
  #wrapper #header .header_inner {
    height: 55px;
  }
  #wrapper #header .header_inner .logo {
    margin: 0 16px !important;
  }
  #wrapper #header .header_inner .logo a {
    width: 81px;
  }
  #wrapper #header .header_inner .burger {
    margin: 0 16px !important;
  }
  #wrapper #header .header_inner .burger .burger_menu {
    height: 20px;
  }
  #wrapper #header .header_inner .burger .burger_menu span {
    width: 22px;
    height: 3px;
  }
}
#wrapper main {
  /* main1 */
  /* main2 */
  /* main3 */
  /* main4 */
  /* main5 */
  /* main6 */
  /* footer 부분 개인정보취급방침 클릭시 팝업창 */
  /* 클릭시 맨위로 스크롤 부드럽게 이동 */
}
@media (max-width: 800px) {
  #wrapper main .mo_main_pag {
    margin-right: 10px;
    font-size: 0 !important;
  }
  #wrapper main .pc {
    display: block !important;
  }
  #wrapper main .mobile {
    display: none !important;
  }
}
@media (max-width: 540px) {
  #wrapper main .mo_main_pag {
    position: absolute;
    right: 0 !important;
    bottom: 3%;
    text-align: right !important;
    transform: translate(0);
    margin-right: 0;
    font-size: 16px !important;
  }
  #wrapper main .scroll_mouse {
    display: none;
  }
  #wrapper main .scroll_info {
    display: none;
  }
  #wrapper main .scroll_line {
    display: none;
  }
  #wrapper main .pc {
    display: none !important;
  }
  #wrapper main .mobile {
    display: block !important;
  }
}
@media (max-width: 500px) {
  #wrapper main .mo_main_pag {
    font-size: 16px !important;
  }
}
@media (max-width: 600px) {
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .main2_Btn h2 {
    font-size: 5rem !important;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .main2_Btn .btn_list {
    flex-direction: row;
    justify-content: center;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .main2_Btn .btn_list button {
    font-size: 1.6rem !important;
    margin-bottom: 1em !important;
    margin: 0 10px !important;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .title {
    padding-top: 60px !important;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .title p {
    font-size: 14px;
    word-break: keep-all;
    line-height: 1.4;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .itemTopping .toppingBox h4 {
    font-size: 2rem;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .itemTopping .toppingBox .topping_con .topping .toppingImg img {
    width: 50px;
  }
  #wrapper main .main2_wrap .main2_inner .selectoMenu_Right .right_inner .itemTopping .toppingBox .topping_con .topping .toppingImg p {
    margin-top: 12px;
    font-size: 12px;
    word-break: keep-all;
  }
}
@media (max-width: 480px) {
  #wrapper main .main2_wrap .main2_inner .selectoMenu_left .main2_Btn h2 {
    font-size: 4rem !important;
  }
}
@media (max-width: 540px) {
  #wrapper main .main3_wrap .main3_inner {
    padding-bottom: 0 !important;
  }
  #wrapper main .main3_wrap .main3_inner .title {
    margin: 80px 0 !important;
  }
  #wrapper main .main3_wrap .main3_inner .title img {
    width: 240px !important;
  }
  #wrapper main .main3_wrap .main3_inner .aniLetterBox {
    height: 10px !important;
    margin: 12px 0 !important;
  }
  #wrapper main .main3_wrap .main3_inner .aniLetterBox .box {
    width: 1260px !important;
  }
  #wrapper main .main3_wrap .main3_inner .aniLetterBox .box span {
    font-size: 14px !important;
  }
  #wrapper main .main3_wrap .main3_inner .aniLetterBox .box span img {
    width: 18px !important;
    margin: 0 4px !important;
    margin-bottom: 1px !important;
  }
}
@media (max-width: 800px) {
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .container {
    width: 100%;
    padding: 0 0 0 30px;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .container p:nth-child(2) {
    font-size: 120px;
    line-height: 120px;
  }
}
@media (max-width: 700px) {
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .container {
    width: 100%;
    padding: 0 0 0 30px;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .container p:nth-child(2) {
    font-size: 93px;
    line-height: 120px;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .container p:nth-child(2)::after {
    font-size: 28px;
    margin-left: 10px;
  }
}
@media (max-width: 660px) {
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine {
    width: 380px;
    height: 575px;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine .center_con {
    width: 420px;
    height: 420px;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine .top_con {
    left: 20%;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine .bottom_con {
    bottom: 0%;
    left: 50%;
  }
}
@media (max-width: 540px) {
  #wrapper main .main4_wrap {
    padding: 80px 0 !important;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox {
    padding: 0 15px;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .title span .br {
    display: block !important;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .title span:first-child {
    font-size: 32px !important;
    text-align: left;
    line-height: 40px;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .title span:last-child {
    font-size: 14px;
    margin-top: 20px;
    word-break: keep-all;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .container {
    height: 120px;
    padding: 0 0 0 20px;
    margin-top: 50px;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .container p:first-child {
    font-size: 12px;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .container p:nth-child(2) {
    font-size: 52px;
    line-height: 62px;
    margin: 0;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .container p:nth-child(2)::after {
    font-size: 20px;
    margin-left: 10px;
    display: inline;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .container p:last-child {
    font-size: 12px;
    line-height: 12px;
  }
  #wrapper main .main4_wrap .main4_inner .main4count .countBox .count_Btn {
    width: 160px;
    height: 48px;
    border-radius: 24px;
    font-size: 16px;
    line-height: 16px;
    margin-top: 12px;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine {
    width: 174px;
    height: 390px;
    border: 1px solid rgba(235, 86, 46, 0.4);
    margin-right: -1rem;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine .center_con {
    width: 240px;
    height: 240px;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine .top_con {
    top: 3%;
    left: 24%;
    width: 60px;
    height: 60px;
  }
  #wrapper main .main4_wrap .main4_inner .main4Img .imgLine .bottom_con {
    bottom: 5%;
    left: 45%;
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 800px) {
  #wrapper main .main5_wrap .main5_inner .main5_right .rightBox .infoBox h2 {
    width: calc(100% - 1.2rem);
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}
@media (max-width: 540px) {
  #wrapper main .main5_wrap .main5_inner .main5_left .title {
    font-size: 34px !important;
    line-height: 34px !important;
  }
  #wrapper main .main5_wrap .main5_inner .main5_left .title .newsBr {
    display: none !important;
  }
  #wrapper main .main5_wrap .main5_inner .main5_left .rotate_arrow a .alink_arrow {
    width: 50px;
  }
  #wrapper main .main5_wrap .main5_inner .main5_right .rightBox {
    padding: 30px;
  }
  #wrapper main .main5_wrap .main5_inner .main5_right .rightBox .infoBox h3 {
    font-size: 12px;
    line-height: 12px;
  }
  #wrapper main .main5_wrap .main5_inner .main5_right .rightBox .infoBox h2 {
    font-size: 16px;
    line-height: 16px;
    margin: 12px 0;
    width: calc(100% - 1.2rem);
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  #wrapper main .main5_wrap .main5_inner .main5_right .rightBox .infoBox p {
    font-size: 12px;
    line-height: 12px;
  }
}
@media (max-width: 540px) {
  #wrapper main .main6_wrap .title {
    margin-top: 80px;
  }
  #wrapper main .main6_wrap .title .box {
    margin-bottom: 30px;
  }
  #wrapper main .main6_wrap .title .box img {
    width: 44px;
    height: 44px;
  }
  #wrapper main .main6_wrap .title .box p {
    font-size: 32px;
    line-height: 32px;
    margin-left: 12px;
  }
  #wrapper main .main6_wrap .imgbox {
    margin-bottom: 80px;
  }
  #wrapper main .main6_wrap .imgbox .img_inner {
    padding: 10px 0;
  }
}
@media (max-width: 550px) {
  #wrapper main #privacyPopUp .popup_wrap .footer_popup .privacy_title2 {
    font-size: 12px;
  }
  #wrapper main #privacyPopUp .popup_wrap .footer_popup .privacy_txtbox {
    padding: 10px;
    height: 360px;
  }
}
@media (max-width: 540px) {
  #wrapper main .toTop {
    bottom: -100px;
    right: 24px;
  }
  #wrapper main .toTop span {
    font-size: 14px;
    margin-top: 0;
  }
}
@media (max-width: 540px) {
  #wrapper footer .footer_inner .footer_logo {
    height: 44px;
    margin: 24px 0;
  }
  #wrapper footer .footer_inner .footer_link {
    margin-bottom: 36px;
  }
  #wrapper footer .footer_inner .footer_link a {
    margin: 0 18px;
  }
  #wrapper footer .footer_inner .footer_link a:nth-child(2) {
    margin: 0 36px;
  }
  #wrapper footer .footer_inner .footer_privacy {
    font-size: 14px;
  }
  #wrapper footer .footer_inner .footer_privacy span {
    margin: 0 8px;
  }
  #wrapper footer .footer_inner .footer_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 0;
  }
  #wrapper footer .footer_inner .footer_info .info {
    flex-direction: column;
    width: 100%;
  }
  #wrapper footer .footer_inner .footer_info .info span {
    font-size: 11px !important;
    line-height: 15px !important;
    letter-spacing: 0px;
    margin: 5px 0;
    text-align: center;
  }
  #wrapper footer .footer_inner .footer_info .info .line {
    margin: 7px 10px 0 10px;
    height: 11px;
  }
  #wrapper footer .footer_inner .footer_info .info:first-child {
    width: 100%;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5px;
  }
  #wrapper footer .footer_inner .footer_info .info:last-child .line {
    margin-top: 8px !important;
  }
  #wrapper footer .footer_inner .footer_copy {
    margin-top: 15px;
    margin-bottom: 45px;
  }
}

/*# sourceMappingURL=style2Ta.css.map */
