:root {
    --swiper-navigation-size : 44px;
    --color-orange: #ff4713;
    --font-SF : 'SF UI Display','Noto Sans KR', sans-serif;
    --font-Noto : 'Noto Sans KR', sans-serif;
}
html, body {
    font-family: var(--font-Noto);
    width: 100%;
    // height: 100%; 할 경우 scroll 이벤트 실행 안됨
    font-size: 10px;
    color: #212121;
    background-color: #f7f6f3;
    overflow-x: hidden;
}
.pc {
    display: block !important;
}
.mobile {
    display: none !important;
}
.br {
    display: none !important;
}

/* 커서 커스텀 */
.cursor {
    @media (max-width:900px) {
        display: none !important;
    }
}

#wrapper {
    /* header */
    @media (max-width : 540px) {
        #header {
            .header_inner {
                height: 55px;
                .logo {
                    margin: 0 16px !important;
                    a {
                        width: 81px;
                    }
                }
                .burger {
                    margin: 0 16px !important;
                    .burger_menu {
                        height: 20px;
                        span {
                            width: 22px;
                            height: 3px;
                        }
                    }
                }
            }
        }
    }
    main {
        /* main1 */
        @media (max-width:800px) {
            .mo_main_pag {
                margin-right: 10px;
                font-size: 0 !important;
            }
            .pc {
                display: block !important;
            }
            .mobile {
                display: none !important;
            }
        }   
        @media (max-width:540px) {
            .mo_main_pag {
                position: absolute;
                right: 0 !important;
                bottom: 3%;
                text-align: right !important;
                transform: translate(0);
                margin-right: 0;
                font-size: 16px !important;
            }
            .scroll_mouse {
                display: none;
            }
            .scroll_info {
                display: none;
            }
            .scroll_line {
                display: none;
            }
            .pc {
                display: none !important;
            }
            .mobile {
                display: block !important;
            }
        }
        @media (max-width:500px) {
            .mo_main_pag {
                font-size: 16px !important;
            }
        }
        /* main2 */
        @media (max-width:600px) {
            .main2_wrap {
                .main2_inner {
                    .selectoMenu_left {
                        .main2_Btn {
                            h2 {
                                font-size: 5rem !important;
                            }
                            .btn_list {
                                flex-direction: row;
                                justify-content: center;
                                button {
                                    font-size: 1.6rem !important;
                                    margin-bottom: 1em !important;
                                    margin: 0 10px !important;
                                }
                            }
                        }

                    }
                    .selectoMenu_Right {
                        .right_inner {
                            .title {
                                padding-top: 60px !important;
                                p {
                                    font-size: 14px;
                                    word-break: keep-all;
                                    line-height: 1.4;
                                }
                            }
                            .itemTopping {
                                .toppingBox {
                                    h4 {
                                        font-size: 2rem;
                                    }
                                    .topping_con {
                                        .topping {
                                            .toppingImg {
                                                img {
                                                    width: 50px;
                                                }
                                                p {
                                                    margin-top: 12px;
                                                    font-size: 12px;
                                                    word-break: keep-all;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:480px) {
            .main2_wrap {
                .main2_inner {
                    .selectoMenu_left {
                        .main2_Btn {
                            h2 {
                                font-size: 4rem !important;
                            }
                            .btn_list {
                                button {
                                }
                            }
                        }

                    }
                    .selectoMenu_Right {
                        .right_inner {}
                    }
                }
            }
        }
        /* main3 */
        @media (max-width:540px) {
            .main3_wrap {
                .main3_inner {
                    padding-bottom: 0 !important;
                    .title {
                        margin: 80px 0 !important;
                        img {
                            width: 240px !important;
                        }
                    }
                    .aniLetterBox {
                        height: 10px !important;
                        margin: 12px 0 !important;
                        .box {
                            width: 1260px !important;
                            span {
                                font-size: 14px !important;
                                img {
                                    width: 18px !important;
                                    margin: 0 4px !important;
                                    margin-bottom: 1px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        /* main4 */
        @media (max-width: 800px) {
            .main4_wrap {
                .main4_inner {
                    .main4count {
                        .countBox {
                            .container {
                                width: 100%;
                                padding: 0 0 0 30px;
                                p {
                                    &:nth-child(2) {
                                        font-size: 120px;
                                        line-height: 120px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 700px) {
            .main4_wrap {
                .main4_inner {
                    .main4count {
                        .countBox {
                            .container {
                                width: 100%;
                                padding: 0 0 0 30px;
                                p {
                                    &:nth-child(2) {
                                        font-size: 93px;
                                        line-height: 120px;
                                        &::after {
                                            font-size: 28px;
                                            margin-left: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:660px) {
            .main4_wrap {
                .main4_inner {
                    .main4Img {
                        .imgLine {
                            width: 380px;
                            height: 575px;
                            .center_con {
                                width: 420px;
                                height: 420px;
                            }
                            .top_con {
                                left: 20%;
                            }
                            .bottom_con {
                                bottom: 0%;
                                left: 50%;
                            }
                        }
                    }
                }
            
            }
        }
        @media (max-width:540px) {
            .main4_wrap {
                padding: 80px 0 !important;
                .main4_inner {
                    .main4count {
                        .countBox {
                            padding: 0 15px;
                            .title {
                                span {
                                    .br {
                                        display: block !important;
                                    }
                                    &:first-child {
                                        font-size: 32px !important;
                                        text-align: left;
                                        line-height: 40px;
                                    }
                                    &:last-child {
                                        font-size: 14px;
                                        margin-top: 20px;
                                        word-break: keep-all;
                                    }
                                }
                            }
                            .container {
                                height: 120px;
                                padding: 0 0 0 20px;
                                margin-top: 50px;
                                p {
                                    &:first-child {
                                        font-size: 12px;
                                    }
                                    &:nth-child(2) {
                                        font-size: 52px;
                                        line-height: 62px;
                                        margin: 0;
                                        &::after {
                                            font-size: 20px;
                                            margin-left: 10px;
                                            display: inline;
                                        }
                                    }
                                    &:last-child {
                                        font-size: 12px;
                                        line-height: 12px;
                                    }
                                }
                            }
                            .count_Btn {
                                width: 160px;
                                height: 48px;
                                border-radius: 24px;
                                font-size: 16px;
                                line-height: 16px;
                                margin-top: 12px;
                            }
                        }
                    }
                    .main4Img {
                        .imgLine {
                            width: 174px;
                            height: 390px;
                            border: 1px solid rgba(235, 86, 46, 0.4);
                            margin-right: -1rem;
                            .center_con {
                                width: 240px;
                                height: 240px;
                            }
                            .top_con {
                                top: 3%;
                                left: 24%;
                                width: 60px;
                                height: 60px;
                            }
                            .bottom_con {
                                bottom: 5%;
                                left: 45%;
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }
            
            }
        }
        /* main5 */
        @media (max-width:800px) {
            .main5_wrap {
                .main5_inner {
                    .main5_right {
                        .rightBox {
                            .infoBox {
                                h2 {
                                    width: calc(100% - 1.2rem);
                                    white-space: nowrap !important;
                                    overflow: hidden !important;
                                    text-overflow: ellipsis !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:540px) {
            .main5_wrap {
                .main5_inner {
                    .main5_left {
                        .title {
                            font-size: 34px !important;
                            line-height: 34px !important;
                            .newsBr {
                                display: none !important;
                            }
                        }
                        .rotate_arrow {
                            a {
                                .alink_arrow {
                                    width: 50px;
                                }
                            }
                        }
                    }
                    .main5_right {
                        .rightBox {
                            padding: 30px;
                            .infoBox {
                                h3 {
                                    font-size: 12px;
                                    line-height: 12px;
                                }
                                h2 {
                                    font-size: 16px;
                                    line-height: 16px;
                                    margin: 12px 0;
                                    width: calc(100% - 1.2rem);
                                    white-space: nowrap !important;
                                    overflow: hidden !important;
                                    text-overflow: ellipsis !important;
                                }
                                p {
                                    font-size: 12px;
                                    line-height: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        /* main6 */
        @media (max-width:540px) {
            .main6_wrap {
                .title {
                    margin-top: 80px;
                    .box {
                        margin-bottom: 30px;
                        img {
                            width: 44px;
                            height: 44px;
                        }
                        p {
                            font-size: 32px;
                            line-height: 32px;
                            margin-left: 12px;
                        }
                    }
                }
                .imgbox {
                    margin-bottom: 80px;
                    .img_inner {
                        padding: 10px 0;
                    }
                }
            }
        }
        /* footer 부분 개인정보취급방침 클릭시 팝업창 */
        @media (max-width: 550px) {
            #privacyPopUp {
                .popup_wrap {
                    .footer_popup {
                        .privacy_title2 {
                            font-size: 12px;
                        }
                        .privacy_txtbox {
                            padding: 10px;
                            height: 360px;
                        }
                    }
                }
            }
        }
        /* 클릭시 맨위로 스크롤 부드럽게 이동 */

        @media (max-width:540px) {
            .toTop {
                bottom: -100px;
                // right: 24px;
                // bottom: 300px;
                right: 24px;
                // bottom: -80px;
                span {
                    font-size: 14px;
                    margin-top: 0;
                }
            }
        }
    }
    /* footer */
    @media (max-width:540px) {
        footer {
            .footer_inner {
                .footer_logo {
                    height: 44px;
                    margin: 24px 0;
                }
                .footer_link {
                    margin-bottom: 36px;
                    a {
                        margin: 0 18px;
                        &:nth-child(2) {
                            margin: 0 36px;
                        }
                    }
                }
                .footer_privacy {
                    font-size: 14px;
                    span {
                        margin: 0 8px;
                    }
                }
                .footer_info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 25px;
                    margin-bottom: 0;
                    .info {
                        flex-direction: column;
                        width: 100%;
                        span {
                            font-size: 11px !important;
                            line-height: 15px !important;
                            letter-spacing: 0px;
                            margin: 5px 0;
                            text-align: center;
                        }
                        .line {
                            margin: 7px 10px 0 10px;
                            height: 11px;
                        }
                        &:first-child {
                            width: 100%;
                            flex-direction: column;
                            text-align: left;
                            margin-bottom: 5px;
                        }
                        &:last-child {
                            .line {
                                margin-top: 8px !important;
                            }
                        }
                    }
                }
                .footer_copy {
                    margin-top: 15px;
                    margin-bottom: 45px;
                }
            }
        }
    }
}
